
#card {
   height:500px;
   width:800px;
   margin:5em auto;
   position: fixed;
  top: 8%;
   left: 30%;
   display:flex;
   visibility:hidden;
}
#card h2 {
   font-size:3em;
   margin:0;
   color:red;
   text-align: center;
}
#card p {
   font-size: 23px;
   text-align: justify;
   padding-left: 30px; /* Espacio en blanco a la izquierda */
   padding-right: 30px; /* Espacio en blanco a la derecha */
}

.V5{
  position: fixed;
  top: 10%;
  left: 5%;
  width: 15%;
  height: 35%;
  border-radius: 10%;
  border: solid 3px red;

}
.V7{
  position: fixed;
  top: 50%;
  left: 5%;
  width: 15%;
  height: 35%;
  border-radius: 10%;
  border-width: 20%;
  border: solid 3px red;
  
}
.V8{
  position: fixed;
  top: 10%;
  right: 5%;
  width: 15%;
  height: 35%;
  border-radius: 10%;
  border-width: 20%;
  border: solid 3px red;
  
}
.V4{
  position: fixed;
  top: 50%;
  right: 5%;
  width: 15%;
  height: 35%;
  border-radius: 10%;
  border-width: 20%;
  border: solid 3px red;
  
}
.side {
   background:#eee;
   height:600px;
   width:480px;
/*    border:1px solid red; */
   padding:10px;
}
.side.one {
   width:320px;
   transform:skew(10deg,20deg);
   background:linear-gradient(90deg, #fff, #fff 40%, #ddd);
}
.side.two {
   transform:skew(10deg,-15deg);
   background:linear-gradient(-90deg, #fff, #fff 40%, #f0f0f0);
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   font-family: 'Sacramento', cursive;
   background-color: #f1e3d3;
   overflow: hidden;
 }
 
 .valentines-day {
   position: relative;
   cursor: pointer;
 }
 
 .envelope {
   position: relative;
   filter: drop-shadow(0 0 25px rgba(0,0,0,.3));
 }
 
 .envelope:before {
   content:"";
   position: absolute;
   width:254px;
   height:254px;
   background-color: #ff9494;
   transform: rotate(-45deg);
   border-radius: 0 15px 0 0;
   left:-37px;
   top:-82px;
 }
 
 .envelope:after {
   content:"";
   position: absolute;
   background-color: #ff9494;
   width:360px;
   height:225px;
   left:-90px;
   top:45px;
 }
 
 .heart {
   position: relative;
   background-color: #e01911;
   display: inline-block;
   height: 180px;
   top:50px;
   left:0;
   transform: rotate(-45deg);
   width:180px;
   filter: drop-shadow(0 -10px 25px rgba(0,0,0,.3));
   transition: .5s;
 }
   
 .heart:before, .heart:after {
   content:"";
   background-color: #e01911;
   border-radius:50%;
   height: 180px;
   width: 180px;
   position: absolute;
   }
   
 .heart:before {
   top:-100px;
   left:0;}
   
 .heart:after {
   left:100px;
   top:0;}
 
 .front {
   position: absolute;
   width:0;
   height:0;
   border-right: 190px solid #fbd2d2;
   border-top: 113px solid transparent;
   border-bottom: 113px solid transparent;
   top:44px;
   left:80px;
   z-index:4;
 }
 
 .front:before {
   content:"";
   position: absolute;
   width:0;
   height:0;
   border-left: 190px solid #fbd2d2;
   border-top: 113px solid transparent;
   border-bottom: 113px solid transparent;
   top:-113px;
   left:-170px;
 }
 
 .front:after {
   width:0;
   height:0;
   position: absolute;
   content:"";
   border-bottom: 150px solid #fce7e9;
   border-right:180px solid transparent;
   border-left: 180px solid transparent;
   top:-36px;
   left:-170px;
 }
 
 .text {
   position: absolute;
   font-family: arial;
   letter-spacing:2px;
   text-align: center;
   color: white;
   z-index:2;
   top:70px;
   left:15px;
   margin: 0 10px;
   transition: .5s;
   font-size: 28px;
   
 }
 
 .valentines-day:hover .heart {
   transform: translateY(-50px) rotate(-45deg);
 }
 
 .valentines-day:hover .text {
   transform: translateY(-50px);
 }
 .container{
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons{
  position: absolute;
  display: flex;
  flex-direction: column; 
  top: -2%;
  left: 3%;   
}

.btn{
  font-family: arial;

  text-decoration: none;
  padding: 15px 25px;
  font-size: 2rem;
  position: relative;
  margin: 32px;
}

.btn-3{
  color: white;
  border-radius: 40px;    
  box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  overflow: hidden;
}

.btn-3::after{
  content: "";
  width: 400px;
  height: 400px;
  position: absolute;
  top: -50px;
  left: -100px;
  background: #13ff13;
  background-image: linear-gradient(-225deg, #650707 0%, #f04f4f 29%, #e23535 67%, #cb3737 100%);
  z-index: -1;
  transition: transform 0.5s ease;
}

.btn-3:hover{
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0 rgba(218, 86, 102, 0.5), -10px 10px 25px 0 rgba(222, 107, 107, 0.794);
}

.btn-3:hover::after{
  transform: rotate(150deg);
}

.container2{
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons2{
  position: absolute;
  display: flex;
  flex-direction: column; 
  top: -2%;
  right: 3%;   
}

.btn1{
  font-family: arial;

  text-decoration: none;
  padding: 15px 25px;
  font-size: 2rem;
  position: relative;
  margin: 32px;
}

.btn-4{
  color: white;
  border-radius: 40px;    
  box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  overflow: hidden;
}

.btn-4::after{
  content: "";
  width: 400px;
  height: 400px;
  position: absolute;
  top: -50px;
  left: -100px;
  background: #13ff13;
  background-image: linear-gradient(-225deg, #650707 0%, #f04f4f 29%, #e23535 67%, #cb3737 100%);
  z-index: -1;
  transition: transform 0.5s ease;
}

.btn-4:hover{
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0 rgba(218, 86, 102, 0.5), -10px 10px 25px 0 rgba(222, 107, 107, 0.794);
}

.btn-4:hover::after{
  transform: rotate(150deg);
}



 